*{
  box-sizing: border-box;

}
body{
margin: 0px;
 background-image: url("img/matriz2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
/* INICIO LAYOUT */
.toda-la-página{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#contenedor-cabecera{
  grid-column: 1/6;
  grid-row: 1/2;
}
#contenido-página{
  grid-column: 1/6;
  grid-row: 3/5;
}
.footer{
  grid-column: 1/6;
  grid-row: 6;
}
/* FIN LAYOUT */

/* INICIO MENÚ */
#topbar{
  border: 2px solid black;
  background:rgba(30,30,30,0.4);
  width: 100%;
}
#menu {
padding: 0.5em;
display: flex;
justify-content: center;
}
/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}
.item {
  color: white;
  padding: 0.5em;
  margin: 0.5em;

  float: left;
  background-color: transparent;
  font-family: "Muli";
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.item:hover {
  background-color: white;
  color:black;
  border-radius: 0.5em;
}
.item a:hover{
  color: black;
}
/* FIN MENU */

/* INICIO TIULO PRINCIPAL */
#logo {
  padding: 0.5em;
  color: white;
  font-size: 50px;
  font-family: "VT323";
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 3px #33cc33;
  animation-name: shadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes shadow{
  0% {text-shadow:0px 3px #33cc33;}
  15% {text-shadow:0px 3px red;}
  30% {text-shadow:0px 3px #ff6699;}
  45% {text-shadow:0px 3px yellow;}
  60% {text-shadow:0px 3px #6699ff;}
  75% {text-shadow:0px 3px #33cc33;}
  90% {text-shadow:0px 3px #cc00cc;}
  100% {text-shadow:0px 3px #999966;}
}

#header{
  color: white;
  background-color: black;
  background-image: url("img/matriz2.jpg");
}
/* FIN TITULO PRINCIAPL */

h3{
  font-family: "Muli";
  font-size: 30px;
}
#caracteristicas{
  font-size: 20px;
}
#contenido-página{
  margin-left: 1%;
  margin-right: 1%;
  border: 2px solid black;
  background-color: white;
}

/* INICIO PARTE DEL CUBO */
.cubo-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40%;
  margin-right: 40%;
  cursor: pointer;
  font-size: 30px;
}
.cell1, .cell2, .cell2, .cell3, .cell4, .cell5, .cell6, .cell7, .cell8, .cell9 {
  padding: 1em;
  border: thin solid white;

}
.cell1, .cell3, .cell5{
  animation-name: cell1c;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.cell2, .cell4, .cell6{
  animation-name: cell2c;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.cell7, .cell8, .cell9{
  animation-name: cell3c;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cell1c{
  0% {background-color: black;}
  15% {background-color: red;}
  30% {background-color: #ff6699;}
  45% {background-color: yellow;}
  60% {background-color: #6699ff;}
  75% {background-color: #33cc33;}
  90% {background-color: #cc00cc;}
  100% {background-color: #999966;}
}
@keyframes cell2c{
  0% {background-color: black;}
  15% {background-color: #660033;}
  30% {background-color: #9999ff;}
  45% {background-color: #cccc00;}
  60% {background-color: #ff6666;}
  75% {background-color: #33cc33;}
  90% {background-color: #00ff99;}
  100% {background-color: #ccff33;}
}
@keyframes cell3c{
  0% {background-color: black;}
  15% {background-color: #ff6699;}
  30% {background-color: red;}
  45% {background-color: #6699ff;}
  60% {background-color:yellow; }
  75% {background-color: #cc00cc;}
  90% {background-color:#33cc33; }
  100% {background-color: #ff8533;}
}
/* FIN CUBO */

/* INICIO POSTIT */
.titulo-postit{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 grid-auto-rows: minmax(100px, auto);
}
#arduino, #interactivo{
  color: black;
 font-family:  'VT323', monospace;
 text-shadow: 2px 2px white;
 text-align: center;
 font-size: 20px;
}

.contenedor-postit{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 grid-auto-rows: minmax(100px, auto);
  cursor: pointer;
  color: black;
}

#postit1, #postit2{
  margin-left: 20%;
  padding: 1em;
 background-color: #ffc;
 transform: rotate(-10deg);
   box-shadow: 2px 2px red;
}
#postit1:hover{
  transform: rotate(0deg);
}
#postit2:hover{transform: rotate(0deg);}
/* FIN POSTIT */

/* CONTENIDO */
#contenido2, #contenido, #contenido3, #contenido4, #contenido5, #contenido6, #contenido7, #contenido8{
  font-family: "Muli";
  color: white;
  background-color: white;
  margin-bottom: 20px;
}
#breve-introduccion{color: black;}
.texto{
  background-image: url("img/giphy.gif");
  font-size: 35px;
  box-shadow: 1px 1px 10px 0.2px black;
}
#contenido2{
  font-size: 17px;
  padding-bottom: 1em;
}
/* APARTADO OBJETIVOS */
#contenido3{padding-bottom: 1em;font-size: 17px;}

#objetivos{color: black;}

/* INICIO SLIDER DE PÁGINA MATERIALES */
.mySlides {display:none;}
#elegoo,#aliment,#cables,#bluetooth,#rgb{
  display: none;
   text-shadow: 1px 0px #FF0000;
}
 #arduinoim{
   background-image: url("img/elegoo.jpg");
   background-size: cover;
 }
 #fuente{
   background-image: url("img/fuente.jpg");
   background-size: cover;
 }
 #jumper{
   background-image: url("img/jumper.jpg");
   background-size: cover;
 }
 #modem{
   background-image: url("img/modem.jpg");
   background-size: cover;
 }
 #leds{
   background-image: url("img/leds.jpg");
   background-size: cover;
 }

.button-left,.button-right{
  cursor: pointer;
  width: auto;
  color: white;
background-color: black;
  font-weight: bold;
  font-size: 28px;
  border: none;
  position: absolute;
  top: 50%;
  margin-top:-22px;
}
.button-right{
  right: 0;
}
.contenedor-imagenes{
  display: flex;
  justify-content: center;
}
.contenedor-slider{
  /* border: thin red solid; */
  position: relative;
  margin: auto;
}
.button-right:hover,.button-left:hover {
 color: rgb(255, 204, 0);
}

#titulo-presupuesto{
  color: black;
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 1px purple;
  background-color: #9999ff;
}
table{
  border-collapse: collapse;
  width: 80%;
  border-spacing: 2px;
  font-size: 22px;
  margin-left: 10%;
  margin-bottom: 10px;
  text-align: left;
  color: black;

}
td,th{
  border: 1px solid white;
  /* padding: 2px; */
}
tr:nth-child(even){background-color: #3399ff; }
tr:nth-child(odd){background-color: #6699ff; }
th{background-color: #9966ff;}
#link{color: blue; text-decoration: underline;}

/* FIN CONTENIDO DE PÁGINA MATERIALES */

/* INICIO PÁGINA MONTAJE */

#titulo-montaje{
  background-color: grey;
  text-align: center;
  font-size: 30px;
}
.texto-explicativo{
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 17px;
}
.diseño-imagenes{border: 1px solid black; width: 49%;}
.diseño-imagenes2{width: 30%;}
ol, ul{color: black; font-size: 17px; padding-left: 5em;}
#adv{color: red;}
/* FIN PÁGGINA MONTAJE */
/* INICIO PÁGINA CÓDIGO */
.codigo-formato{
  width: 750px;
  height: 500px;
  overflow: scroll;
  margin-left: 2%;
  margin-right: 5%;
  background-color: #f2f2f2;
  border-radius: 5px;

}
#poderver,#poderver1,#poderver2,#poderver3{margin-left: 1em;}
#codigo-ver,#codigo-ver1,#codigo-ver2,#codigo-ver3{display: none;}

.download{background-color: black; margin: 1em; padding: 20px;}
button{font-size: 20px; cursor: pointer;}
.texto-explicativo2{font-size: 20px; text-align: center;}
/* FIN PÁGINA CÓDIGO */

/* INICIO RESULTADO */
#video{margin-left: 20%; margin-right: 20%;}
/* FIN RESULTADO */

/* INICIO GALERIA */
#galeriaimg{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: scroll;
}
#galeriaimg2{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  overflow: scroll;
}

.galeria {
  height: calc( var(--h) + 3em);
  width: var(--w);
  margin:1em;
  border: 1px solid #555;
  position: relative;
  display:inline-block;
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}
.galeria input[type=radio] {
  position: relative;
  bottom: calc(-1 * var(--h) - 1.5em);
  left: .5em;
}
.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(8):checked ~ img:nth-of-type(8) {
  opacity: 1;
}
.galeria input[type=radio]:nth-of-type(9):checked ~ img:nth-of-type(9) {
  opacity: 1;
}
/* FIN GALERIA */

/* FOOTER */
.footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(20em, 1fr));
  background-color: #c4cdd2;
  color: white;
  font-family: "Muli";
  border: 1px solid grey;
  padding: 0.5em;
  background:rgba(30,30,30,0.8);
  margin-top: 2%;
}
#titulo-fl{
  font-family: "Muli";
  text-shadow: 0px 3px #33cc33;
}
a{
  text-decoration: none;
  outline: none;
   color: white;
}
#see{
  color: black;
}
.enlace1, .enlace3, .enlace4, .enlace5{
    font-size: 33px;
}
.enlace1:hover{
  color: #ff9933;
}
.enlace3:hover{
  color:  #c745a3;
}
.enlace4:hover{
  color: rgba(27,127,204,.8);
}
.enlace5:hover{
  color: red;
}
h12{font-size: 250%;}
h14{font-size: 150%;}
#footer-right{
  float: right;
  margin-top: 0.3%;
  padding:  0.5%;
}

 .texto-fr{
   padding: 0.5%;
   text-align: center;
 }
.texto-fl{
margin-right: 1%;
margin-top: 0.5%;
margin-bottom: 0.5%;
}


/* RESPONSIVE */
@media screen and (min-width: 1000px) {
  #contenido-página {
    margin-left: 15%;
    margin-right: 15%;
  }
  #menu {
  padding: 0.5em;
  margin-left: 23%;
  margin-right: 25%;
  }
  .codigo-formato{
    width: 750px;
    height: 500px;
    overflow: scroll;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f2;
    border-radius: 5px;

  }
}
