<pre>
<font color="#5e6d03">#include</font> <font color="#434f54">&lt;</font><b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#000000">h</font><font color="#434f54">&gt;</font>
 &nbsp;
<font color="#5e6d03">#define</font> <font color="#000000">LED_PIN</font> &nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">5</font>
<font color="#5e6d03">#define</font> <font color="#000000">NUM_LEDS</font> &nbsp;&nbsp;&nbsp;<font color="#000000">64</font>
<font color="#5e6d03">#define</font> <font color="#000000">BRIGHTNESS</font> &nbsp;<font color="#000000">90</font>
<font color="#5e6d03">#define</font> <font color="#000000">LED_TYPE</font> &nbsp;&nbsp;&nbsp;<font color="#00979c">WS2812</font>
<font color="#5e6d03">#define</font> <font color="#000000">COLOR_ORDER</font> <font color="#00979c">GRB</font>
<b><font color="#d35400">CRGB</font></b> <font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">NUM_LEDS</font><font color="#000000">]</font><font color="#000000">;</font>
<font color="#5e6d03">#define</font> <font color="#000000">UPDATES_PER_SECOND</font> <font color="#000000">100</font>

<font color="#00979c">const</font> <font color="#00979c">long</font> <font color="#000000">pacman01</font><font color="#000000">[</font><font color="#000000">]</font> <font color="#00979c">PROGMEM</font> <font color="#434f54">=</font>
<font color="#000000">{</font>
 <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> &nbsp;
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font> &nbsp;
<font color="#000000">}</font><font color="#000000">;</font>

<font color="#00979c">const</font> <font color="#00979c">long</font> <font color="#000000">pacman02</font><font color="#000000">[</font><font color="#000000">]</font> <font color="#00979c">PROGMEM</font> <font color="#434f54">=</font>
<font color="#000000">{</font>
 &nbsp;<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font>
<font color="#000000">}</font><font color="#000000">;</font>

<font color="#00979c">const</font> <font color="#00979c">byte</font> <font color="#000000">numChars</font> <font color="#434f54">=</font> <font color="#000000">32</font><font color="#000000">;</font>
<font color="#00979c">char</font> <font color="#000000">receivedChars</font><font color="#000000">[</font><font color="#000000">numChars</font><font color="#000000">]</font><font color="#000000">;</font>
<font color="#00979c">char</font> <font color="#000000">tempChars</font><font color="#000000">[</font><font color="#000000">numChars</font><font color="#000000">]</font><font color="#000000">;</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; temporary array for use when parsing</font>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; variables to hold the parsed data</font>
<font color="#00979c">char</font> <font color="#000000">messageFromPC</font><font color="#000000">[</font><font color="#000000">numChars</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">{</font><font color="#000000">0</font><font color="#000000">}</font><font color="#000000">;</font>
<font color="#00979c">int</font> <font color="#000000">integerFromPC</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
<font color="#00979c">int</font> <font color="#000000">integerred</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
<font color="#00979c">int</font> <font color="#000000">integerblue</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
<font color="#00979c">int</font> <font color="#000000">integergreen</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
<font color="#00979c">float</font> <font color="#000000">floatFromPC</font> <font color="#434f54">=</font> <font color="#000000">0.0</font><font color="#000000">;</font>

<font color="#00979c">boolean</font> <font color="#000000">newData</font> <font color="#434f54">=</font> <font color="#00979c">false</font><font color="#000000">;</font>



<font color="#434f54">&#47;&#47;============</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">addLeds</font><font color="#434f54">&lt;</font><font color="#000000">LED_TYPE</font><font color="#434f54">,</font> <font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#000000">COLOR_ORDER</font><font color="#434f54">&gt;</font><font color="#000000">(</font><font color="#000000">leds</font><font color="#434f54">,</font> <font color="#000000">NUM_LEDS</font><font color="#000000">)</font><font color="#434f54">.</font><font color="#d35400">setCorrection</font><font color="#000000">(</font> <font color="#00979c">TypicalLEDStrip</font> <font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">setBrightness</font><font color="#000000">(</font> &nbsp;<font color="#000000">BRIGHTNESS</font> <font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">&#34;This demo expects 3 pieces of data - text, an integer and a floating point value&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">&#34;Enter data in this style &lt;HelloWorld, 12, 24.7&gt; &nbsp;&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#434f54">&#47;&#47;============</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">recvWithStartEndMarkers</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">newData</font> <font color="#434f54">==</font> <font color="#00979c">true</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#d35400">strcpy</font><font color="#000000">(</font><font color="#000000">tempChars</font><font color="#434f54">,</font> <font color="#000000">receivedChars</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; esta copia temporal es necesaria para proteger los datos originales porque strtok() </font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47;utilizado en parseData() reemplaza las comas por \0</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">parseData</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">showParsedData</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">showColores</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">newData</font> <font color="#434f54">=</font> <font color="#00979c">false</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">paintone</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">bug</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">animaciones</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47;clearall(); &nbsp;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color="#000000">}</font>

<font color="#434f54">&#47;&#47;============</font>

<font color="#00979c">void</font> <font color="#000000">recvWithStartEndMarkers</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">static</font> <font color="#00979c">boolean</font> <font color="#000000">recvInProgress</font> <font color="#434f54">=</font> <font color="#00979c">false</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">static</font> <font color="#00979c">byte</font> <font color="#000000">ndx</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">char</font> <font color="#000000">startMarker</font> <font color="#434f54">=</font> <font color="#00979c">&#39;&lt;&#39;</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">char</font> <font color="#000000">endMarker</font> <font color="#434f54">=</font> <font color="#00979c">&#39;&gt;&#39;</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">char</font> <font color="#000000">rc</font><font color="#000000">;</font>

 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">while</font> <font color="#000000">(</font><b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">available</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#434f54">&gt;</font> <font color="#000000">0</font> <font color="#434f54">&amp;&amp;</font> <font color="#000000">newData</font> <font color="#434f54">==</font> <font color="#00979c">false</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">rc</font> <font color="#434f54">=</font> <b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">read</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">recvInProgress</font> <font color="#434f54">==</font> <font color="#00979c">true</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">rc</font> <font color="#434f54">!=</font> <font color="#000000">endMarker</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">receivedChars</font><font color="#000000">[</font><font color="#000000">ndx</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">rc</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">ndx</font><font color="#434f54">++</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">ndx</font> <font color="#434f54">&gt;=</font> <font color="#000000">numChars</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">ndx</font> <font color="#434f54">=</font> <font color="#000000">numChars</font> <font color="#434f54">-</font> <font color="#000000">1</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">else</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">receivedChars</font><font color="#000000">[</font><font color="#000000">ndx</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#00979c">&#39;\0&#39;</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; terminate the string</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">recvInProgress</font> <font color="#434f54">=</font> <font color="#00979c">false</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">ndx</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">newData</font> <font color="#434f54">=</font> <font color="#00979c">true</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">else</font> <font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">rc</font> <font color="#434f54">==</font> <font color="#000000">startMarker</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">recvInProgress</font> <font color="#434f54">=</font> <font color="#00979c">true</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
<font color="#000000">}</font>

<font color="#434f54">&#47;&#47;============</font>

<font color="#00979c">void</font> <font color="#000000">parseData</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; dividir los datos en sus partes</font>

 &nbsp;&nbsp;&nbsp;<font color="#00979c">char</font> <font color="#434f54">*</font> <font color="#000000">strtokIndx</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; esto es utilizado por strtok() como un índice</font>

 &nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#000000">tempChars</font><font color="#434f54">,</font><font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; obtener la primera parte - la cadena</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">strcpy</font><font color="#000000">(</font><font color="#000000">messageFromPC</font><font color="#434f54">,</font> <font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; copiarlo a messageFromPC</font>

 &nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#00979c">NULL</font><font color="#434f54">,</font> <font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; esto continúa donde la llamada anterior dejó</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">integerFromPC</font> <font color="#434f54">=</font> <font color="#d35400">atoi</font><font color="#000000">(</font><font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; convertir esta parte en un int</font>

 &nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#00979c">NULL</font><font color="#434f54">,</font> <font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">floatFromPC</font> <font color="#434f54">=</font> <font color="#d35400">atof</font><font color="#000000">(</font><font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; convertir esta parte en un flot</font>
 &nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#00979c">NULL</font><font color="#434f54">,</font> <font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">integerred</font> <font color="#434f54">=</font> <font color="#d35400">atoi</font><font color="#000000">(</font><font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font>

 &nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#00979c">NULL</font><font color="#434f54">,</font> <font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">integergreen</font> <font color="#434f54">=</font> <font color="#d35400">atoi</font><font color="#000000">(</font><font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;<font color="#000000">strtokIndx</font> <font color="#434f54">=</font> <font color="#d35400">strtok</font><font color="#000000">(</font><font color="#00979c">NULL</font><font color="#434f54">,</font> <font color="#005c5f">&#34;,&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">integerblue</font> <font color="#434f54">=</font> <font color="#d35400">atoi</font><font color="#000000">(</font><font color="#000000">strtokIndx</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;&nbsp;
<font color="#000000">}</font>

<font color="#434f54">&#47;&#47;============</font>
<font color="#00979c">void</font> <font color="#000000">showParsedData</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;Message &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">messageFromPC</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;Integer &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">integerFromPC</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;Float &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">floatFromPC</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>
<font color="#00979c">void</font> <font color="#000000">showColores</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;R &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">integerred</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;G &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">integergreen</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#005c5f">&#34;B &#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">integerblue</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#000000">bug</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">{</font> <font color="#434f54">&#47;&#47;Este void esta porque sin el no podria pintar los leds de uno en uno.</font>
 &nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">floatFromPC</font> <font color="#434f54">=</font> <font color="#000000">.0</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">0</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">integerred</font><font color="#434f54">,</font> <font color="#000000">integergreen</font><font color="#434f54">,</font> <font color="#000000">integerblue</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
<font color="#000000">}</font>
 &nbsp;
<font color="#00979c">void</font> <font color="#000000">paintone</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">{</font> <font color="#434f54">&#47;&#47;Sirve para escoger el led a pintar y luego los números de los colores creados.</font>

 &nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">integerFromPC</font><font color="#434f54">&gt;</font><font color="#000000">0</font> <font color="#434f54">&amp;&amp;</font> <font color="#000000">integerFromPC</font><font color="#434f54">&lt;</font><font color="#000000">65</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">integerFromPC</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">integerred</font><font color="#434f54">,</font> <font color="#000000">integergreen</font><font color="#434f54">,</font> <font color="#000000">integerblue</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;
 &nbsp;<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#000000">animaciones</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">integerFromPC</font> <font color="#434f54">=</font> <font color="#000000">100</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; Poner el primer frame de pac</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">passtime</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">passtime</font> <font color="#434f54">&lt;</font> <font color="#000000">8</font><font color="#000000">;</font> <font color="#000000">passtime</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font> <font color="#434f54">&#47;&#47; Muestralo 8 veces</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">clear</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">pgm_read_dword</font><font color="#000000">(</font><font color="#434f54">&amp;</font><font color="#000000">(</font><font color="#000000">pacman01</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font><font color="#000000">)</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;<font color="#434f54">&#47;&#47; Muestralo 8 veces</font>
 &nbsp;<font color="#000000">}</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">500</font><font color="#000000">)</font><font color="#000000">;</font>


<font color="#434f54">&#47;&#47; Poner el segundo frame de pac </font>
<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">clear</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">pgm_read_dword</font><font color="#000000">(</font><font color="#434f54">&amp;</font><font color="#000000">(</font><font color="#000000">pacman02</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font><font color="#000000">)</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">500</font><font color="#000000">)</font><font color="#000000">;</font>

<font color="#000000">}</font>
 &nbsp;<font color="#000000">}</font>
<font color="#000000">}</font>

</pre>
