<pre>
<font color="#5e6d03">#include</font> <font color="#434f54">&lt;</font><font color="#000000">avr</font><font color="#434f54">&#47;</font><font color="#000000">pgmspace</font><font color="#434f54">.</font><font color="#000000">h</font><font color="#434f54">&gt;</font> &nbsp;<font color="#434f54">&#47;&#47; Needed to store stuff in Flash using PROGMEM</font>
<font color="#5e6d03">#include</font> <font color="#005c5f">&#34;FastLED.h&#34;</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#434f54">&#47;&#47; Fastled library to control the LEDs</font>

<font color="#5e6d03">#define</font> <font color="#000000">LED_PIN</font> &nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">5</font>
<font color="#5e6d03">#define</font> <font color="#000000">NUM_LEDS</font> &nbsp;&nbsp;&nbsp;<font color="#000000">64</font>
<font color="#5e6d03">#define</font> <font color="#000000">BRIGHTNESS</font> &nbsp;<font color="#000000">64</font>
<font color="#5e6d03">#define</font> <font color="#000000">LED_TYPE</font> &nbsp;&nbsp;&nbsp;<font color="#00979c">WS2812</font>
<font color="#5e6d03">#define</font> <font color="#000000">COLOR_ORDER</font> <font color="#00979c">GRB</font>
<b><font color="#d35400">CRGB</font></b> <font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">NUM_LEDS</font><font color="#000000">]</font><font color="#000000">;</font>


<font color="#00979c">const</font> <font color="#00979c">long</font> <font color="#000000">pacman01</font><font color="#000000">[</font><font color="#000000">]</font> <font color="#00979c">PROGMEM</font> <font color="#434f54">=</font>
<font color="#000000">{</font>
 <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> &nbsp;
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font> &nbsp;
<font color="#000000">}</font><font color="#000000">;</font>

<font color="#00979c">const</font> <font color="#00979c">long</font> <font color="#000000">pacman02</font><font color="#000000">[</font><font color="#000000">]</font> <font color="#00979c">PROGMEM</font> <font color="#434f54">=</font>
<font color="#000000">{</font>
 &nbsp;<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0x000000</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font>
<font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font><font color="#434f54">,</font> <font color="#000000">0xffff00</font>
<font color="#000000">}</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font> <font color="#000000">3000</font> <font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; power-up safety delay</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">addLeds</font><font color="#434f54">&lt;</font><font color="#000000">LED_TYPE</font><font color="#434f54">,</font> <font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#000000">COLOR_ORDER</font><font color="#434f54">&gt;</font><font color="#000000">(</font><font color="#000000">leds</font><font color="#434f54">,</font> <font color="#000000">NUM_LEDS</font><font color="#000000">)</font><font color="#434f54">.</font><font color="#d35400">setCorrection</font><font color="#000000">(</font> <font color="#00979c">TypicalLEDStrip</font> <font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">setBrightness</font><font color="#000000">(</font> &nbsp;<font color="#000000">BRIGHTNESS</font> <font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>

<font color="#434f54">&#47;&#47; Poner el primer frame de pac</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">passtime</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">passtime</font> <font color="#434f54">&lt;</font> <font color="#000000">8</font><font color="#000000">;</font> <font color="#000000">passtime</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font> <font color="#434f54">&#47;&#47; Muestralo 8 veces</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">clear</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">pgm_read_dword</font><font color="#000000">(</font><font color="#434f54">&amp;</font><font color="#000000">(</font><font color="#000000">pacman01</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font><font color="#000000">)</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;<font color="#434f54">&#47;&#47; Muestralo 8 veces</font>
 &nbsp;<font color="#000000">}</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">500</font><font color="#000000">)</font><font color="#000000">;</font>


<font color="#434f54">&#47;&#47; Poner el segundo frame de pac </font>
<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">clear</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#5e6d03">for</font><font color="#000000">(</font><font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <font color="#000000">pgm_read_dword</font><font color="#000000">(</font><font color="#434f54">&amp;</font><font color="#000000">(</font><font color="#000000">pacman02</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font><font color="#000000">)</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#000000">}</font>

<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">500</font><font color="#000000">)</font><font color="#000000">;</font>

<font color="#000000">}</font>
<font color="#000000">}</font>

</pre>
