<pre>
<font color="#5e6d03">#include</font> <font color="#434f54">&lt;</font><b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#000000">h</font><font color="#434f54">&gt;</font>

<font color="#5e6d03">#define</font> <font color="#000000">LED_PIN</font> &nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">5</font>
<font color="#5e6d03">#define</font> <font color="#000000">NUM_LEDS</font> &nbsp;&nbsp;&nbsp;<font color="#000000">64</font>
<font color="#5e6d03">#define</font> <font color="#000000">BRIGHTNESS</font> &nbsp;<font color="#000000">64</font>
<font color="#5e6d03">#define</font> <font color="#000000">LED_TYPE</font> &nbsp;&nbsp;&nbsp;<font color="#00979c">WS2812</font>
<font color="#5e6d03">#define</font> <font color="#000000">COLOR_ORDER</font> <font color="#00979c">GRB</font>
<b><font color="#d35400">CRGB</font></b> <font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">NUM_LEDS</font><font color="#000000">]</font><font color="#000000">;</font>
<font color="#5e6d03">#define</font> <font color="#000000">UPDATES_PER_SECOND</font> <font color="#000000">100</font>

<font color="#00979c">char</font> <font color="#000000">color</font><font color="#434f54">=</font><font color="#000000">0</font><font color="#000000">;</font>
<font color="#00979c">char</font> <font color="#000000">received</font><font color="#000000">;</font>


<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#d35400">delay</font><font color="#000000">(</font> <font color="#000000">3000</font> <font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47; power-up safety delay</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">addLeds</font><font color="#434f54">&lt;</font><font color="#000000">LED_TYPE</font><font color="#434f54">,</font> <font color="#000000">LED_PIN</font><font color="#434f54">,</font> <font color="#000000">COLOR_ORDER</font><font color="#434f54">&gt;</font><font color="#000000">(</font><font color="#000000">leds</font><font color="#434f54">,</font> <font color="#000000">NUM_LEDS</font><font color="#000000">)</font><font color="#434f54">.</font><font color="#d35400">setCorrection</font><font color="#000000">(</font> <font color="#00979c">TypicalLEDStrip</font> <font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">setBrightness</font><font color="#000000">(</font> &nbsp;<font color="#000000">BRIGHTNESS</font> <font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;
<font color="#000000">}</font>
<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<font color="#5e6d03">if</font><font color="#000000">(</font><b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">available</font><font color="#000000">(</font><font color="#000000">)</font><font color="#434f54">&gt;</font><font color="#000000">0</font><font color="#000000">)</font><font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">color</font> <font color="#434f54">=</font> <b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">read</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#00979c">char</font> <font color="#000000">Rec</font> <font color="#434f54">=</font> <font color="#00979c">char</font><font color="#000000">(</font><font color="#000000">color</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">Rec</font> <font color="#434f54">!=</font> <font color="#00979c">&#39;0&#39;</font><font color="#000000">)</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#000000">Rec</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;<font color="#000000">}</font>

<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;r&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;Rojo &#47;&#47;Si la variable color es igual a r, pinta de color rojo</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">255</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color rojo todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;<font color="#000000">}</font>
<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;v&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;Verde</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">128</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color verde todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;<font color="#000000">}</font>
 <font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;a&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;Azul</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">255</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color azul todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;<font color="#000000">}</font>
 &nbsp;&nbsp;&nbsp;<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;n&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;naranja</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">255</font><font color="#434f54">,</font> <font color="#000000">165</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color naranja todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;<font color="#000000">}</font>
<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;l&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;Lila</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">128</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#434f54">,</font> <font color="#000000">128</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color lila todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>

 &nbsp;<font color="#000000">}</font>
<font color="#5e6d03">if</font> <font color="#000000">(</font><font color="#000000">color</font> <font color="#434f54">==</font> <font color="#00979c">&#39;y&#39;</font><font color="#000000">)</font><font color="#434f54">&#47;&#47;Amarillo</font>
 &nbsp;<font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#5e6d03">for</font><font color="#000000">(</font> <font color="#00979c">int</font> <font color="#000000">i</font> <font color="#434f54">=</font> <font color="#000000">0</font><font color="#000000">;</font> <font color="#000000">i</font> <font color="#434f54">&lt;</font> <font color="#000000">NUM_LEDS</font><font color="#000000">;</font> <font color="#000000">i</font><font color="#434f54">++</font><font color="#000000">)</font> <font color="#000000">{</font>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000">leds</font><font color="#000000">[</font><font color="#000000">i</font><font color="#000000">]</font> <font color="#434f54">=</font> <b><font color="#d35400">CRGB</font></b><font color="#000000">(</font><font color="#000000">255</font><font color="#434f54">,</font> <font color="#000000">255</font><font color="#434f54">,</font> <font color="#000000">0</font><font color="#000000">)</font><font color="#000000">;</font> <font color="#434f54">&#47;&#47;Por cada número de LEDs de la tira, pintara de color amarillo todos los LEDs</font>
 &nbsp;&nbsp;&nbsp;<font color="#000000">}</font>
 &nbsp;<font color="#000000">}</font> &nbsp;
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">show</font><font color="#000000">(</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;&nbsp;&nbsp;<b><font color="#d35400">FastLED</font></b><font color="#434f54">.</font><font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">1000</font> <font color="#434f54">&#47;</font> <font color="#000000">UPDATES_PER_SECOND</font><font color="#000000">)</font><font color="#000000">;</font> &nbsp;&nbsp;
<font color="#000000">}</font>

</pre>
