<div id="footer-left">
  <div class="texto-fl">
    <h12 id="titulo-fl">Interactive LED Matrix</h12>
      <br><h14>Mary Ojuyenum</h14>
  </div>
</div>
<div id="footer-right">
 <div class="texto-fr">
   <h12 id="sigueme">Contact with me at </h12>
   <div class="icon-social">
    <a class="enlace1" target="_blank" href="https://gitlab.com/maryojuye">
       <i class="fab fa-gitlab"></i>
    </a>
    <a class="enlace5" target="_blank" href="mailto:maryojuye@elpuig.xeill.net">
      <i class="fas fa-envelope"></i>
    </a>
</div>
</div>
</div>
